body{
  margin:0;
  padding: 0;
  width:100%;
}


.rssFeed{
  padding: 1rem;
}

.rssNew1{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  /*display: inline;*/
  float: left;
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.1rem;
  width:30%;
  height:100%;
  margin-left: -15%;
  padding:1rem;
}

.rssNew{
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.1rem;
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */

}

img{
  width:100%;
  height:auto;
  padding: 1rem;
}

h2{
  line-height: normal;
  font-family: 'Courier';
  font-weight: lighter;
}

.nasaImage{
  width:100%;
  height:auto;
  margin: 0;
  padding: 0;
}

.gif{
  width:30%;
  height: auto;
  display: inline;
  float: left;
  padding: 0;
}
